* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.like-checkbox {
  display: none;
}
.like-checkbox + label {
  position: relative;
  font-weight: 400;
}
.like-checkbox + label::after {
  content: "\f004";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-clip-path: circle(0% at center);
          clip-path: circle(0% at center);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, opacity 0.3s ease-in-out;
  transition: clip-path 1s ease-in-out, opacity 0.3s ease-in-out, -webkit-clip-path 1s ease-in-out;
}
.like-checkbox:checked + label::after {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
  opacity: 1;
}
.like-checkbox:not(:checked) + label::after {
  -webkit-clip-path: circle(0% at center);
          clip-path: circle(0% at center);
  opacity: 0;
}

.foot {
  background-color: #353535;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  height: 115px;
  gap: 50px;
  padding: 20px;
}
.foot .linksfoot {
  display: flex;
  gap: 40px;
}
.foot .linksfoot ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.foot img {
  width: 150px;
}

@keyframes loader {
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15px);
    background-color: #9356dc;
  }
  70% {
    transform: translateY(-10px);
    background-color: #7e7e7e;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-list {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes chec {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes chec-reverse {
  0% {
    width: 25%;
  }
  100% {
    width: 50px;
  }
}
@keyframes shrinkAndGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.loader {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  animation: loader 2s 2s ease-out both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__container {
  display: flex;
  flex-direction: row;
}
.loader__circle {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin: 10px;
  animation: bounce 1s ease-in-out;
}
.loader__circle:nth-child(2) {
  animation-delay: 0.2s;
}
.loader__circle:nth-child(3) {
  animation-delay: 0.4s;
}
.loader__circle:nth-child(4) {
  animation-delay: 0.6s;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  width: 200px;
  padding: 15px;
}
.header .location {
  width: 100%;
  background-color: #eaeaea;
  padding: 10px;
  text-align: center;
  color: #353535;
}
.header .location i {
  background-color: #eaeaea;
}

button {
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  width: 200px;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9019607843), rgba(255, 121, 218, 0.9019607843));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
button:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
button:hover span {
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-text p {
  font-weight: 300;
}
.hero .hero-text, .hero .hero-text h1, .hero .hero-text p {
  margin: 10px 0;
}

.fonctions {
  display: flex;
  justify-content: center;
}
.fonctions .fonctionnement {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fonctions .fonctionnement h2 {
  grid-column: span 3;
}
.fonctions .fonctionnement .fonctionne {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}
.fonctions .fonctionnement .fonctionne span {
  padding: 2px 7px;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.fonctions .fonctionnement .fonctionne i {
  color: #7e7e7e;
}
.fonctions .fonctionnement .fonctionne .fa {
  color: #9356dc;
}

.restaurants-section {
  background-color: #f6f6f6;
}
.restaurants-section .restaurants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 120px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 50px 100px;
  row-gap: 30px;
}
.restaurants-section .restaurants h2 {
  grid-column: span 2;
}
.restaurants-section .restaurants .ticket {
  background-color: #ffffff;
  border-radius: 20px;
  height: 251px;
  position: relative;
}
.restaurants-section .restaurants .ticket .card {
  color: #000000;
}
.restaurants-section .restaurants .ticket .card .new {
  color: #008766;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.restaurants-section .restaurants .ticket .card img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.restaurants-section .restaurants .ticket .card .contenu {
  padding: 10px;
}
.restaurants-section .restaurants .ticket .card .contenu p {
  font-weight: 300;
}
.restaurants-section .restaurants .like-container {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.header {
  position: relative;
}
.header a {
  color: #000000;
  position: absolute;
  left: 12px;
  top: 20px;
}

main {
  position: relative;
}
main .bac_img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.plats {
  position: relative;
  width: 70%;
  background-color: #f6f6f6;
  margin: -40px auto 0;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plats .plat-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.plats .plat-title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}

.options {
  width: 70%;
  margin: 10px auto;
}
.options .title {
  text-transform: uppercase;
  margin: 0 15px;
  border-bottom: 3px solid #99e2d0;
  width: 30px;
  font-size: 16px;
  font-weight: 300;
}
.options .chec {
  display: none;
}
.options .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 0 0 0 15px;
  border-radius: 20px;
  background-color: #ffffff;
  height: 75px;
  animation: menu-list 1s ease both;
}
.options .option p {
  font-weight: 300;
  margin: 5px 0;
}
.options .option .check-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.options .option .select i {
  color: #ffffff;
}

.option.delay-1 {
  animation-delay: 0.3s;
}

.option.delay-2 {
  animation-delay: 0.6s;
}

.option.delay-3 {
  animation-delay: 0.9s;
}

.option.delay-4 {
  animation-delay: 1.2s;
}

.option.delay-5 {
  animation-delay: 1.5s;
}

.option.delay-6 {
  animation-delay: 1.8s;
}

.option.delay-7 {
  animation-delay: 2.1s;
}

.option.delay-8 {
  animation-delay: 2.4s;
}

.option.delay-9 {
  animation-delay: 2.7s;
}

.option.delay-10 {
  animation-delay: 3s;
}

@media (min-width: 1025px) {
  .option:hover .option-text, .chec:checked + label .option-text {
    animation: shrinkAndGrow 0.4s linear;
  }
  .option:hover .check-box, .chec:checked + label .check-box {
    width: 15%;
    height: 100%;
    animation: chec 0.3s linear;
    transform-origin: right;
  }
  .option:hover .check-box .select, .chec:checked + label .check-box .select {
    background-color: #99e2d0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
}
@media (min-width: 767.1px) and (max-width: 1024.9px) {
  .plats {
    width: 80%;
  }
  .options {
    width: 75%;
  }
  .chec:checked + label .option-text {
    animation: shrinkAndGrow 0.4s linear;
    max-width: 60%;
    min-width: 0;
    flex: 1;
  }
  .chec:checked + label .option-text h3, .chec:checked + label .option-text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chec:checked + label .check-box {
    width: 30%;
    height: 100%;
    animation: chec 0.3s linear;
    transform-origin: right;
  }
  .chec:checked + label .check-box .select {
    background-color: #99e2d0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  .chec:not(:checked) + label .check-box {
    animation: chec-reverse 0.3s linear;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    z-index: 1;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2509803922);
  }
  .header .location {
    box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.2509803922);
  }
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 24px;
  }
  .fonctions {
    display: block;
  }
  .fonctions .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 95%;
    margin: 20px;
  }
  .fonctions .fonctionnement .fonctionne {
    width: 95%;
  }
  .restaurants-section {
    padding: 0 0 30px;
  }
  .restaurants-section .restaurants {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    align-items: flex-start;
  }
  .restaurants-section .restaurants .ticket {
    width: 100%;
  }
  .foot .linksfoot ul, .foot .linksfoot, .foot {
    flex-direction: column;
    gap: 10px;
  }
  .plats {
    width: 100%;
    padding: 20px 20px 0 0;
  }
  .plats .options {
    width: 100%;
  }
  .plats .options .option {
    width: 100%;
    gap: 10%;
    margin: 10px;
  }
  .plats .options .option .option-text {
    max-width: 75%;
    min-width: 0;
    flex: 1;
  }
  .plats .options .option .option-text h3 {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .plats .options .option .option-text p {
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chec:checked + label .option-text {
    animation: shrinkAndGrow 0.4s linear;
  }
  .chec:checked + label .check-box {
    width: 25%;
    height: 100%;
    animation: chec 0.3s linear;
    transform-origin: right;
  }
  .chec:checked + label .check-box .select {
    background-color: #99e2d0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  .chec:not(:checked) + label .check-box {
    animation: chec-reverse 0.3s linear;
  }
  .foot {
    align-items: start;
    height: auto;
    padding: 20px;
  }
  .foot .linksfoot ul i {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */