// variabls
// -- colors
$background: #ffffff;
$back-gris: #f6f6f6;
$back-location: #eaeaea;
$back-footer: #353535;
$text-secondry: #353535;
$icons-colors: #9356dc;
$icons-colors-secondry: #7e7e7e;

*{
    font-family: "Roboto", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
// Header
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 200px;
        padding: 15px;
    }
    .location{
        width: 100%;
        background-color: $back-location;
        padding: 10px;
        text-align: center;
        color: $text-secondry;
        i{
            background-color: $back-location;
        }
    }
}
// liks
.like-checkbox{
    display: none;
    &:checked + label{
        background: linear-gradient(to bottom, $icons-colors, #ff79da);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        font-weight: 900; 
        content: "\f004";
    }
}
// buttons
button{
    margin: 15px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to bottom, #ff79da, $icons-colors);
    color: #ffffff;
    width: 200px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    &:hover {
        transform: scale(1.05); 
    }
    &:hover span {
        transform: translateY(-30px); 
        transition: transform 0.3s ease;
    }
}

// Home Page
// main
.hero{
    background-color: $back-gris;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-weight: 300;
        }
        &, h1, p{
            margin: 15px 0;
        }
    }
}
.fonctions{
    display: flex;
    justify-content: center;
    .fonctionnement{
        width: 75%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 70px 70px;
        margin: 20px;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
        .fonctionne{
            background-color: $back-gris;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            padding: 30px;
            position: relative;
            span{
                padding: 2px 7px;
                color: $background;
                background-color: $icons-colors;
                border-radius: 50%;
                position: absolute;
                left: -10px;
            }
            i{
                color: $icons-colors-secondry;
            }
            .fa{
                color: $icons-colors;
            }
        }
    }
}
.restaurants-section{
    background-color: $back-gris;
    .restaurants{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        margin: 0 120px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        gap: 50px 100px;
        row-gap: 30px;
        h2{
            grid-column: span 2;
        }
        .card{
            background-color: $background;
            border-radius: 20px;
            height: 251px;
            position: relative;
            color: #000000;
            .new{
                color: #008766;
                background-color: #99e2d0;
                padding: 5px;
                border-radius: 5px;
                position: absolute;
                top: 10px;
                right: 16px;
            }
            img{
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }
            .contenu{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                p{
                    font-weight: 300;
                }
            }
        }
    }
}
// Resturants Pages
.header{
    position: relative;
    a{
        color: #000000;
        position: absolute;
        left: 12px;
        top: 20px;
    }
}
main{
    position: relative;
    .bac_img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.plats{
    position: relative;
    // top: -70px;
    width: 70%;
    background-color: $back-gris;
    margin: -40px auto 0;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .plat-title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        h2{
            font-family: "Shrikhand", serif;
            font-weight: 400;
            font-style: italic;
        }
    }
}
.options{
    width: 70%;
    margin: 10px auto;
    .title{
        margin: 0 15px;
        border-bottom: 3px solid #99e2d0;
        width: 30px;
    }
    .chec{
        display: none;
    }
    .option{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        padding: 0 0 0 15px;
        border-radius: 20px;
        background-color: $background;
        height: 75px;
        p{
            font-weight: 300;
            margin: 5px 0;
        }
        .check-box{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .select{
            i{
                color: $background;
            }
        }
    }
}

.option:hover, .chec:checked + label{
    .check-box{
        width: 15%;
        height: 100%;
        animation: chec 0.3s linear;
        transform-origin: right;
        .select{
            background-color: #99e2d0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 20px 20px 0;
        }
        @keyframes chec {
            0% {
                transform: scaleX(0); 
            }
            100% {
                transform: scaleX(1);
            }
    }
}
}


.foot{
    background-color: $back-footer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    height: 115px;
    gap: 50px;
    .linksfoot{
        display: flex;
        gap: 40px;
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
        }
    }
    
    img{
        width: 150px;
    }
    
}