@charset "UTF-8";
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img {
  width: 200px;
  padding: 15px;
}
.header .location {
  width: 100%;
  background-color: #eaeaea;
  padding: 10px;
  text-align: center;
  color: #353535;
}
.header .location i {
  background-color: #eaeaea;
}

.like-checkbox {
  display: none;
}
.like-checkbox:checked + label {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  content: "\f004";
}

button {
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: #ffffff;
  width: 200px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 5px 10px #f6f6f6;
}
button:hover {
  transform: scale(1.05);
}
button:hover span {
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

.hero {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-text p {
  font-weight: 300;
}
.hero .hero-text, .hero .hero-text h1, .hero .hero-text p {
  margin: 15px 0;
}

.fonctions {
  display: flex;
  justify-content: center;
}
.fonctions .fonctionnement {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fonctions .fonctionnement h2 {
  grid-column: span 3;
}
.fonctions .fonctionnement .fonctionne {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}
.fonctions .fonctionnement .fonctionne span {
  padding: 2px 7px;
  color: #ffffff;
  background-color: #9356dc;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}
.fonctions .fonctionnement .fonctionne i {
  color: #7e7e7e;
}
.fonctions .fonctionnement .fonctionne .fa {
  color: #9356dc;
}

.restaurants-section {
  background-color: #f6f6f6;
}
.restaurants-section .restaurants {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 120px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 50px 100px;
  row-gap: 30px;
}
.restaurants-section .restaurants h2 {
  grid-column: span 2;
}
.restaurants-section .restaurants .card {
  background-color: #ffffff;
  border-radius: 20px;
  height: 251px;
  position: relative;
  color: #000000;
}
.restaurants-section .restaurants .card .new {
  color: #008766;
  background-color: #99e2d0;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.restaurants-section .restaurants .card img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-section .restaurants .card .contenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.restaurants-section .restaurants .card .contenu p {
  font-weight: 300;
}

.header {
  position: relative;
}
.header a {
  color: #000000;
  position: absolute;
  left: 12px;
  top: 20px;
}

main {
  position: relative;
}
main .bac_img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.plats {
  position: relative;
  width: 70%;
  background-color: #f6f6f6;
  margin: -40px auto 0;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plats .plat-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.plats .plat-title h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
}

.options {
  width: 70%;
  margin: 10px auto;
}
.options .title {
  margin: 0 15px;
  border-bottom: 3px solid #99e2d0;
  width: 30px;
}
.options .chec {
  display: none;
}
.options .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 0 0 0 15px;
  border-radius: 20px;
  background-color: #ffffff;
  height: 75px;
}
.options .option p {
  font-weight: 300;
  margin: 5px 0;
}
.options .option .check-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.options .option .select i {
  color: #ffffff;
}

@media (min-width: 550px) {
  .option:hover .option-text, .chec:checked + label .option-text {
    animation: shrinkAndGrow 0.4s linear;
  }
  @keyframes shrinkAndGrow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  .option:hover .check-box, .chec:checked + label .check-box {
    width: 15%;
    height: 100%;
    animation: chec 0.3s linear;
    transform-origin: right;
  }
  .option:hover .check-box .select, .chec:checked + label .check-box .select {
    background-color: #99e2d0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  @keyframes chec {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
}
.foot {
  background-color: #353535;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  height: 115px;
  gap: 50px;
}
.foot .linksfoot {
  display: flex;
  gap: 40px;
}
.foot .linksfoot ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.foot img {
  width: 150px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 24px;
  }
  .fonctions {
    display: block;
  }
  .fonctions .fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 95%;
    margin: 20px 1fr 20px 1.2fr;
  }
  .fonctions .fonctionnement .fonctionne {
    width: 95%;
  }
  .restaurants-section .restaurants {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: flex-start;
  }
  .restaurants-section .restaurants .card {
    width: 100%;
  }
  .foot .linksfoot ul, .foot .linksfoot, .foot {
    flex-direction: column;
    gap: 10px;
  }
  .plats {
    width: 100%;
  }
  .plats .options {
    width: 100%;
  }
  .plats .options .option {
    width: 100%;
    gap: 10%;
  }
  .plats .options .option .option-text {
    max-width: 75%;
    min-width: 0;
    flex: 1; /* النص يأخذ المتبقي من العرض */
  }
  .plats .options .option .option-text h3 {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .plats .options .option .option-text p {
    font-size: 12px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chec:checked + label .option-text {
    animation: shrinkAndGrow 0.4s linear;
  }
  @keyframes shrinkAndGrow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  .chec:checked + label .check-box {
    width: 25%;
    height: 100%;
    animation: chec 0.3s linear;
    transform-origin: right;
  }
  .chec:checked + label .check-box .select {
    background-color: #99e2d0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
  }
  @keyframes chec {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .foot {
    align-items: start;
    height: auto;
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */